DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/web1?schema=public"
JWT_SECRET="your-secret-at-least-32-chars"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Optional AI key
# GEMINI_API_KEY="AIza..."
